@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link:focus.link-body{
  background-color: rgba(230, 20, 20, 0.607);
  color: white;
  transition: all linear 3000ms ease-in-out;
  -webkit-transition: all linear 3000ms ease-in-out;
  -moz-transition: all linear 3000ms ease-in-out;
  -ms-transition: all linear 3000ms ease-in-out;
  -o-transition: all linear 3000ms ease-in-out;
}